[workspace]
members = ["toboggan-*"]
resolver = "2"

[workspace.package]
rust-version = "1.88"
license = "MIT OR Apache-2.0"
authors = ["Igor Laborie <ilaborie@gmail.com>"]

[workspace.dependencies]
derive_more = { version = "2.0.1", default-features = false }
jiff = { version = "0.2.15", default-features = false }
serde = { version = "1.0.219", default-features = false }
axum =  "0.8.4"
tokio =  "1.46.1"
toml = "0.9.2"
tracing = "0.1.41"
tracing-subscriber =  "0.3.19"
clap =  "4.5.41"
anyhow = "1.0.98"
serde_json = "1.0.140"
slug= "0.1.6"
tower-http = "0.6.6"
pulldown-cmark = "0.13.0"
uuid = { version = "1.17.0", default-features = false }
once_cell = { version = "1.20.2", default-features = false }
getrandom = { version = "0.2.15", default-features = false }

[workspace.lints.rust]
unsafe_code = "deny"
missing_docs = "allow"

[workspace.lints.clippy]
perf = { level = "warn", priority = -1 }
pedantic = { level = "warn", priority = -1 }

undocumented_unsafe_blocks = "deny"

dbg_macro = "warn"
expect_used = "warn"
if_then_some_else_none = "warn"
indexing_slicing = "warn"
large_include_file = "warn"
min_ident_chars = "warn"
print_stderr = "warn"
print_stdout = "warn"
rc_buffer = "warn"
rc_mutex = "warn"
unnecessary_safety_doc = "warn"
unwrap_used = "warn"

module_name_repetitions = "allow"

