nav {
  position: relative;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-areas: "title status" "title buttons";
  grid-gap: 1rem 1px;
}

progress {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  transform: translateY(-50%);
}

h1 {
  grid-area: title;
}

.buttons {
  grid-area: buttons;
}

.status {
  grid-area: status;

  .duration {
    visibility: hidden;
  }
}

.Running .status {
  .connection::before {
    content: "🏃";
  }

  .duration {
    visibility: visible;
  }
}

/* 
  | "connecting"
  | "connected"
  | "disconnected"
  | "reconnecting"
  | "running"
  | "paused"
  | "done"; */
